TD, TH
{
    border:1px solid black;			
}

VECTOR>TABLE TH, JAVAOBJECT>TABLE TH
{
    background-color:#99F;
    padding:10px;
}

VECTOR JAVAOBJECT TABLE
{
    border-color:red;
}

VECTOR JAVAOBJECT TABLE TD
{
    width:50px !important;
    padding-left:0px !important;
    padding-right:0px !important;
}

VECTOR TD, JAVAOBJECT TD
{
    text-align:center;
    padding-left:10px;
    padding-right:10px;
}

BODY, DIV, TD
{
    font-family:Tahoma;
    text-align:justify;
    font-size:16px;
}

/*
	<div class=forcebreak></div>
*/
.forcebreak
{
   page-break-after: always;
 	
}

.chapter
{
    padding-left:20px;
    page-break-after: always;
    padding-bottom:20px;
}

.chapter .title
{
    font-size:150%;
    font-weight:bold;
    
}



EXECUTIONNOTES
{
    padding:20px;
    display:block;

}




DEF
{
    font-style:italic;
}

MATH
{
    color:#555;
    font-size:22px;
    display:block;
    margin-top:30px;
    margin-bottom:30px;
    width:100%;
    text-align:center;
}

.number
{
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
    margin-top:10px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
    background-color: rgb(212, 205, 205);
    border-bottom:0px solid white;
}

set
{
    font-weight:bold;
    color:#555;
    width:100%;
    margin-top:10px;
    margin-bottom:10px;
}

VECTOR, JAVAOBJECT 
{
    display:inline-block;
    vertical-align:top;
}

JAVAOBJECT TD
{
    width:150px;
}

.method
{
    color:red;
}

#index DIV
{
    font-size:20px;
}

formula
{
    display:block;
    margin-top:15px;
    margin-bottom:15px;
    font-weight:bold;
    text-align:center;
    color:black;
    width:100%;
}

formula>sel
{
    color:red;

}

FILETREE .package
{
    width:200px;
    border:1px solid black;
    font-weight:bold;
    font-size:20px;
    background-color:#bbb;
}

FILETREE .tipo
{
    margin-left:40px;
}

#levels LI
{
    font-size:120%;
}

#schemaereditario TD
{
    background-color:#DDD;
    color:black;
    font-weight:bold;
    font-size:80%;
    padding-top:10px;
    padding-bottom:10px;
}

#schemaereditario TD.green
{
    color:green;
}

#schemaereditario TD.red
{
    color:red;
}

IFRAME.htmlcode
{
	display:block;
	width:80%;
	overflow:auto;
	border:0px;
}
