/*_______________________CODICE PURO_______________________*/
CODE[language=Java] .coderow
{
	display: inline; 
	padding-left:10px;
	padding-right:10px;
	margin-right:10px;
	color:rgb(52, 8, 247);
	
}	


CODE[language=java] .keyword, code[language=java] .keyword
{
	color:#8A1648;
	font-weight:bold;	
}
CODE[language=java] .variabili, code[language=java] .variabili
{
	color:#8A1648;
	font-weight:bold;
}
CODE[language=java] .property, code[language=java] .property
{
	color:#8A1648;
	font-weight:bold;
}
CODE[language=java] .iferazioni, code[language=java] .iferazioni
{
	color:#8A1648;
	font-weight:bold;
}
CODE[language=java] .comment, code[language=java] .comment
{
	color: grey;
}
/*_______________________________CODICE PURO END _______________________*/
/*_______________________________TABELLE CODICE_______________________________________*/
CODE[language=java],[table] .tableCode, code[language=java],[table]  .tableCode
{
	
	/* border: 1px solid black;*/

	border-collapse: collapse;
	margin-top:10px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
}
CODE[language=java] .numerazioneCodice
{
	color :rgb(52, 8, 247);
	background-color: rgb(212, 205, 205);
	display: inline;
	font-weight:bold;
	
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
}
CODE[language=java] table,CODE[language=java]  th, CODE[language=java] td {
	border: 1px solid WHITE;
	border-collapse: collapse;
	background-color: white;
	
	
  }	
  CODE[language=java]  th,CODE[language=java]  td 
  {
	padding: 3px;
   text-align: left;
   
	}		
  /*____________________TABELLE CODICE END________________________________*/
