/*_______________________CODICE PURO_______________________*/
CODE[language=JavaScript] .coderow
{
	padding-left:10px;
	padding-right:10px;
	margin-right:10px;
	color:rgb(52, 8, 247);
	display:inline;
}	
CODE[language=JavaScript] .keyword, code[language=JavaScript] .keyword
{
	color:#2044EB;
	font-weight:bold;	
}
CODE[language=javaScript] .comment, code[language=javaScript] .comment
{
	color: grey;	
}
/*_______________________CODICE PURO END _______________________*/
/*____________________TABELLE CODICE ________________________________*/
CODE[language=javaScript],[table] .tableCode, code[language=javaScript],[table]  .tableCode
{

	/* border: 1px solid black;*/
 	border-collapse: collapse;
	margin-top:10px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
}
CODE[language=javaScript] .numerazioneCodice
{
	color :rgb(145, 25, 25);
	background-color: rgb(117, 116, 116);
	display: inline;
	font-weight:bold;
	
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
}
CODE[language=javaScript] table,CODE[language=javaScript]  th, CODE[language=javaScript] td {
	border: 1px solid WHITE;
	border-collapse: collapse;
	background-color: white;
  }	
  CODE[language=javaScript]  th,CODE[language=javaScript]  td 
  {
	padding: 3px;
   text-align: left;
	}		
/*____________________TABELLE CODICE END________________________________*/